<IfModule mod_rewrite.c>
Options -Indexes
RewriteEngine On
ErrorDocument 404 /res/error/404.html
ErrorDocument 403 /res/error/403.html
ErrorDocument 504 /res/error/504.html
#==============================#
# Assign System
RewriteRule ^404/?$ 404.html [L]
RewriteRule ^403/?$ 403.html [L]
RewriteRule ^504/?$ 504.html [L]
#==============================#
# Assign Index
#==============================#
</IfModule>
